@import "tailwindcss";

@theme {
  --color-primary: #008dd0;
  --color-secondary: #ed3237;
}

body {
  @apply bg-white text-[#010217];
}

.login-bg {
  background-image: url("/images/login-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.myContainer {
  @apply mx-auto px-[20px] xl:px-[60px];
}

.label-class {
  @apply block mb-2;
}

.input-class {
  @apply w-full border  px-5  py-4 h-[49px] rounded-[20px] placeholder:text-[#7D7D7D] focus:border-primary   focus:outline-none caret-primary  duration-150;
}
.textarea-class {
  @apply w-full border  px-5  py-4 h-[106px] rounded-[20px] placeholder:text-[#7D7D7D] focus:border-primary   focus:outline-none caret-primary  duration-150;
}
.select-class {
  @apply w-full border  px-5  py-4 h-[49px] rounded-[20px] placeholder:text-[#7D7D7D] focus:border-primary   focus:outline-none caret-primary  duration-150;
}
